/* body */

.container1 {
    margin-top: 200px;
}
.container2 {
    margin-top: 20px;
}
h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px !important;
    text-align: center;
    margin-top: 0px !important;
}
.pic {
    width: 400px;
    margin-left: 100px;
}
.aboutmep {
    font-family: lao;
    font-size: 25px;
    margin-right: 100px;
}
#footer {
    bottom: 0;
}

@media all and (max-width: 1400px) {
    .pic {
        width: 350px;
    }
}

@media all and (max-width: 1200px) {
    .aboutmep {
        font-size: 22px;
        margin-left: 20px;
    }
    .pic {
        width: 300px;
    }
   .f-f-icon {
       margin-left: 20px;
   }
}

@media all and (max-width: 1000px) {
    .pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
}

@media all and (max-width: 991px) {
    .aboutmep {
        font-size: 20px !important;
    }
    .pic {
        width: 300px;
    }
}

@media all and (max-width: 780px) {
    .aboutmep {
        margin-left: 80px;
        margin-right: 80px;
    }
    .f-f-icon {
        margin-left: 80px;
    }
}