/* body */

.container1 {
    margin-top: 250px;
}
.container2 {
    margin-top: 20px;
}
h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px !important;
    text-align: center;
    margin-top: 0px !important;
}
.pic {
    width: 400px;
    margin-left: 100px;
}
p {
    font-family: lao;
    font-size: 25px;
    margin-right: 100px;
}
#footer {
    bottom: 0;
}