body {
    background-color: #E6D8C0 !important;
}
.active {
    text-decoration: underline !important;
}
/* nav */
.nav-link { 
    color: white !important;
    font-family: lao;
    font-weight: normal !important;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 35px;
}
.nav-link:hover {
    text-decoration: underline;
}
.navbar-nav {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

/* footer */
footer {
    background-color: #7E311B;
    height: 300px;
}
.f-heading {
    font-size: 25px;
    color: white;
    font-family: lao;
    font-weight: normal;
    margin-top: 20px;
}
.f-content {
    color: white;
    font-family: lao;
    font-size: 16px;
    margin-right: 100px;
}
.f-icon {
    width: 50px;
    margin-right: 10px;
}
#footer {
    position: relative;
    width: 100%;
    height: 300px;
}
.f-heading {
    margin-bottom: 20px !important;
}
#page-container {
    min-height: 80vh;
}
.navbar {
    position: relative;
}

@media all and (max-width: 1400px) {
    .f-content {
        margin-right: 0px;
    }
}

@media all and (max-width: 1200px) {
    .f-icon {
        width: 30px;
    }
    .f-content {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    .navbar {
        height: 150px !important;
    }
    .navbar-toggler-icon {
        height: 50px !important;
        width: 50px !important;
    }
    .container-fluid {
        background-color: #7E311B;
    }
    .f-content {
        font-size: 14px;
        margin-right: 10px;
    }
    .f-icon {
        margin-bottom: 10px;
    }
    #footer {
        height: 700px;
    }
    .f-heading {
        text-align: center;
        margin-bottom: 30px;;
    }
    .f-content {
        text-align: center;
    }
    .f-icons {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 700px) {
    .navbar {
        height: 125px !important;
    }
}