body {
    background-color: #E6D8C0 !important;
}
.active {
    text-decoration: underline !important;
}
/* nav */
.nav-link { 
    color: white !important;
    font-family: lao;
    font-weight: normal !important;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 35px;
}
.nav-link:hover {
    text-decoration: underline;
}
.navbar-nav {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

/* footer */
footer {
    background-color: #7E311B;
    height: 300px;
}
.f-heading {
    font-size: 25px;
    color: white;
    font-family: lao;
    font-weight: normal;
    margin-top: 20px;
}
.f-content {
    color: white;
    font-family: lao;
    font-size: 16px;
    margin-right: 100px;
}
.f-icon {
    width: 50px;
    margin-right: 10px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#footer {
    position: absolute;
    width: 100%;
    height: 300px;
}