.arrow {
    margin-top: 50px;
    margin-left: 50px;
    width: 40px;
    cursor: pointer;
}
.book {
    width: 350px;
    margin-top: 150px;
}
#page-container1 {
    min-height: 75vh;
}

/* text review */
.title {
    margin-top: 150px;
}
.stars {
    width: 150px;
    margin-top: -5px;
}
.review p {
    margin-left: -250px;
    font-size: 22px;
    font-family: lao;
}
.bottomp {
    margin-left: 0px !important;
}


@media all and (max-width: 1400px) {
    .review p {
        font-size: 20px;
        margin-left: -150px;
    }
}

@media all and (max-width: 1200px) {
    .arrow {
        width: 30px;
    }
    .book {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .review p {
        margin-left: -75px;
        font-size: 17px !important;
    }
    .title {
        margin-top: 50px;
    }
    .bottommobile {
        margin-top: -80px;
    }
}

@media all and (max-width: 1000px) {
    .book {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px !important;
    }
    .review p {
        font-size: 25px !important;
        margin-left: 0px !important;
    }
    .stars {
        width: 110px;
    }
    .row {
        flex-direction: column !important;
    }
    .bottommobile {
        margin-top: 0px;
    }
}