
/* coffee logo */

.coffee {
    width: 110px;
    margin-top: 150px !important;
}
.center {
    display: block;
    margin: auto;
}

/* welcome and message */

.welcome {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 10px !important;
    font-size: 80px;
}
.intro {
    font-family: lao;
    text-align: center;
    font-size: 22px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px !important;
    margin-bottom: 50px;
}

/* boxes */

.box {
    width: 400px;
}


@media all and (max-width: 1400px) {
    .intro {
        margin-left: 300px;
        margin-right: 300px;
    }
    .box {
        width: 350px;
    }
}

@media all and (max-width: 1200px) {
    .box {
        width: 275px;
    }
}

@media all and (max-width: 999px) {
    .coffee {
        width: 200px;
        margin-top: 50px !important;
    }
    .intro {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 30px;;
    }
    .box {
        width: 700px !important;
        margin-bottom: 50px;
    }
    .last {
        margin-bottom: 300px;
    }
    .welcome {
        font-size: 100px !important;
    }
}
