
/* coffee logo */

.coffee {
    width: 100px;
    margin-top: 150px !important;
}
.center {
    display: block;
    margin: auto;
}

/* welcome and message */

.welcome {
    font-family: lao;
    text-align: center;
    margin-top: 10px !important;
    font-size: 50px;
}
.intro {
    font-family: Helvetica;
    text-align: center;
    font-size: 18px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px !important;
    margin-bottom: 50px;
}

/* boxes */

.box {
    width: 400px;
}


@media all and (max-width: 1400px) {
    .intro {
        margin-left: 300px;
        margin-right: 300px;
    }
    .box {
        width: 350px;
    }
}

@media all and (max-width: 1200px) {
    .box {
        width: 275px;
    }
}

@media all and (max-width: 1000px) {
    .bottom {
        margin-bottom: 400px !important;
    }
}

@media all and (max-width: 999px) {
    .intro {
        margin-left: 100px;
        margin-right: 100px;
    }
    .box {
        width: 275px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .last {
        margin-bottom: 300px;
    }
}

@media all and (max-width: 999px) {
    .box {
        width: 500px
    }
}