
.container1 {
    margin-top: 50px;
}

/* star rating */

.rowstar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.star {
    width: 35px;
    margin-top: 50px;
}


/* individual books */

.image {
    position: relative;
    width: 250px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image__img {
    display: block;
    width: 100%;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.stars {
    width: 200px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lastrow {
    margin-bottom: 50px;;
}

/* hovers */

.image__description {
    margin-left: 15px;
    margin-right: 15px;
}
.image__overlay:hover {
    opacity: 1;
}
.image__description {
    font-size: 20px;
}

@media all and (max-width: 1200px) {
    .image {
        width: 400px;
    }
    p.image__description {
        font-size: 30px !important;
    }
    .stars {
        width: 300px !important;
    }
    .star {
        width: 50px !important;
    }
}

@media all and (max-width: 991px) {
    .image {
        width: 450px;
    }
    p.image__description {
        font-size: 38px !important;
    }
    .stars {
        width: 300px !important;
    }
    .star {
        width: 50px;
    }
    .bookmargin {
        margin-bottom: 50px !important;
    }
}