
.container1 {
    margin-top: 50px;
}

/* star rating */

.rowstar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.star {
    width: 35px;
    margin-top: 50px;
}


/* individual books */

.image {
    position: relative;
    width: 250px;
    margin-top: 50px;
}
.image__img {
    display: block;
    width: 100%;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.row1 {
    margin-bottom: 50px;
}
.stars {
    width: 200px;
    margin-left: 25px;
}

/* hovers */

.image__description {
    margin-left: 15px;
    margin-right: 15px;
}
.image__overlay:hover {
    opacity: 1;
}
.image__description {
    font-size: 20px;
}

@media all and (max-width: 1200px) {
    .image {
        width: 200px;
    }
    p.image__description {
        font-size: 16px !important;
    }
    .stars {
        width: 150px;
    }
    .star {
        width: 30px;
    }
}

@media all and (max-width: 991px) {
    .image {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p.image__description {
        font-size: 42px !important;
    }
    .stars {
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .star {
        width: 40px;
    }
    .two {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 600px) {
    .image {
        width: 800px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .stars {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .star {
        width: 25px;
    }
}