h2 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.col h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 60px;;
}
.col-4 img {
    height: 400px;
}
.col-8 img {
    height: 400px;
}
.col img {
    margin-top: 50px;
    margin-bottom: 100px;
    height: 410px;
}