
h2 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.col h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 70px;;
}

.col img {
    margin-top: 0px;
    height: 450px;
}

.col img:hover {
    box-shadow: 3px 3px 3px 3px #7E7E7E;
}

@media all and (max-width: 1400px) {
    .col img {
        height: 400px;
    }
}

@media all and (max-width: 1200px) {
    .col img {
        height: 350px;
    }
}

@media all and (max-width: 992px) {
    .col img {
        height: 800px;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
