
.arrow {
    margin-top: 0px;
    width: 40px;
    cursor: pointer;
}
h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px !important;
    margin-top: 50px !important;
    text-align: center;

}

.last {
    margin-bottom: 100px;
}

@media all and (max-width: 1400px) {
    .header {
        height: 300px;
    }
}

@media all and (max-width: 1200px) {
    .header {
        height: 250px;
    }
}

@media all and (max-width: 1000px) {
    .header {
        height: 200px;
    }
}